#header{
   
    height: 80vh; 
    width: 94%; 
    background-image: url("banner.jpg");
    border: 1px solid black; 
    padding: 40px;    
}

.nav{
    width: 100vh;
    height: 25px;
    border: 1px black;
    padding: 5px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    } 

    #Outside{
        height: 3vh;
        display: flex;
    }